body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

span {
  text-decoration-line: underline;
}

/* class selector */

.top-container {
  width: 200px;
  height: 200px;
  background-color: #cee5d0;
}

.middle-container {
  width: 200px;
  height: 200px;
  background-color: #f3f0d7;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: #fed2aa;
}
